.service
    padding-top: 113px
    padding-bottom: 73px
    position: relative
    &-block
        display: flex
    &-card
        padding: 55px 0 76px 98px
        max-width: 900px
        width: 100%
        border-radius: 170px
        border: 1px solid $gray-opacity-color
        box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.07)
        display: flex
        justify-content: space-between
        flex-direction: column
        position: relative
    &-text
        max-width: 509px
        &__container
            justify-content: space-between
            margin-bottom: 30px
        &__arrows
            display: flex
            justify-content: space-between
        &__arrow
            &_left
                margin-right: 20px


.service
    &-petal
        height: 100%
        position: absolute!important

        &s
            position: absolute !important
            top: 0 !important
            left: 0 !important
            width: 100% !important
            height: 100% !important
        &-1
            top: 0 !important
            left: 0 !important
        &-2
            top: 0 !important
            left: 50% !important
        &-3
            top: 0 !important
            left: 80% !important
        &-4
            top: 50% !important
            left: 90% !important

        &-5
            left: 0 !important
            top: 75% !important
        &-6
            left: 65% !important
            top: 89% !important
            z-index: -1 !important


