.work
  padding: 30px 0
  &__title
    text-align: center
    margin-bottom: 45px
  &__text
    letter-spacing: 0.04em
  &-flex__container
    justify-content: space-between
    margin-bottom: 67px
  &-social
    &__path
      transition: all 0.5s
    &__container
      display: flex
      justify-content: space-between
    &__link
      margin-right: 25px
      transition: all 0.5s
      &:hover
        .work-social__path
          fill: $pink-color


  &-slider
    flex-direction: column
    &__item
      outline: none
      border-radius: 60px
